* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #e9f3f1;
}

.container {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.question-text {
  font-size: 1.2rem;
}

.answers {
  display: flex;
  justify-content: center;
}

.answer {
  display: flex;
  font-size: 1.6rem;
  cursor: pointer;
}

.answer-letter {
  padding: 15px;
}

.answer-text {
  padding: 15px;
}

.next-btn {
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.score {
  text-align: center;
  margin-bottom: 10px;
}

.correct-answer {
  color: green;
}

.wrong-answer {
  color: red;
}

.disabled-answer {
  pointer-events: none;
}
